<!-- This is the Edit template, this will be rendered when when anybody wants to edit an already added listing. -->
<%layout("/layouts/boilerplate.ejs")%>
<div class="row">
  <div class="col-8 offset-2">
    <br /><br />
    <h4 class="mb-3">Edit Your Listing</h4>
    <form method="POST" action="/listings/<%=listing._id%>?_method=PUT">
      <!-- We can only send a GET or a POST request via forms, but we can send other requests like PUT, PATCH and DELETE by using a package
      known as method-override -->
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          name="listing[title]"
          value="<%=listing.title%>"
          type="text"
          class="form-control"
        />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <br />
        <textarea name="listing[description]" class="form-control">
<%=listing.description%></textarea
        >
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Image URL/Link</label>
        <input
          name="listing[image]"
          value="<%=listing.image%>"
          type="text"
          class="form-control"
        />
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input
          name="listing[price]"
          value="<%=listing.price%>"
          type="number"
          class="form-control"
        />
      </div>
      <div class="row">
        <div class="mb-3 col-md-8">
          <label for="location" class="form-label">Location</label>
          <input
            name="listing[location]"
            value="<%=listing.location%>"
            type="text"
            class="form-control"
          />
          <label for="country" class="form-label">Country</label>
          <input
            name="listing[country]"
            value="<%=listing.country%>"
            type="text"
            class="form-control"
          />
        </div>
      </div>
      <button class="btn btn-dark edit-btn">Edit</button>
      <br /><br />
    </form>
  </div>
</div>
